@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  background-color: #221857;
}

pre {
  color: #323232;
  white-space: pre-wrap;
  padding: 15px;
  border: 1px solid #d3d3d3;
}

code {
  color: #4c0000;
}

.notice {
  background-color: #deeede;
  padding: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}

.container {
  max-width: 900px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

.nft-h1,
.nft-h2,
.nft-h3,
.nft-h4 {
  margin: 0;
  padding: 0;
  color: #222;
}

.nft-h1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
@media (min-width: 992px) {
  .nft-h1 {
    font-size: 49px;
    line-height: 56px;
  }
}

.nft-h2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
@media (min-width: 768px) {
  .nft-h2 {
    font-size: 34px;
    line-height: 42px;
  }
}
@media (min-width: 992px) {
  .nft-h2 {
    font-size: 44px;
    line-height: 52px;
  }
}
.content .nft-h2 {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .nft-h2--long {
    font-size: 32px;
    line-height: 40px;
  }
}

.nft-h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 9px;
}
.content .nft-h3 {
  margin-top: 40px;
}

.nft-h4 {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 19px;
}
@media (min-width: 992px) {
  .nft-h4 {
    font-size: 12px;
    line-height: 20px;
  }
}

:root {
  --animate-delay: 0.5s;
}

.section-faq {
  position: relative;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .section-faq {
    margin-bottom: 80px;
  }
}
.section-faq__container--thin {
  display: flex;
  justify-content: flex-end;
}
.section-faq__wrapper--thin {
  position: relative;
  width: 100%;
  max-width: 600px;
  min-height: 500px;
}
@media (min-width: 992px) {
  .section-faq__wrapper--thin {
    max-width: 805px;
  }
}

.section-faq__title {
  margin-bottom: 50px;
  color: #fff;
  font-weight: 700;
}

.section-faq__title img {
  width: 120px;
  height: auto;
  background-color: #6b58cd;
  padding: 12px 20px 8px 20px;
  border-radius: 35px;
  margin-bottom: 20px;
}

.section-faq__title span {
  display: block;
  color: #1d51fe;
}

.section-faq__list {
  margin-bottom: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 576px) {
  .section-faq__list {
    margin-bottom: 38px;
  }
}

.section-faq__item {
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 18px 10px 25px;
  box-shadow: 0px 2px 20px rgba(34, 24, 87, 0.1);
  margin-bottom: 8px;
}

.section-faq__item-heading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section-faq__item-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .section-faq__item-title {
    font-size: 22px;
    line-height: 29px;
  }
}

.section-faq__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-left: 20px;
  background-color: #6b58cd;
  border-radius: 50%;
}
.section-faq__item-icon.opened {
  background-color: #221857;
}
.section-faq__item-icon svg {
  width: inherit;
  height: inherit;
  color: #fff;
}
.theme-dark .section-faq__item-icon svg {
  color: #917ffb;
}
.section-faq__item-content {
  display: none;
  padding: 17px 5px 20px 5px;
  opacity: 0.65;
}
@media (min-width: 768px) {
  .section-faq__item-content {
    padding: 17px 30px 20px 30px;
  }
}
.theme-dark .section-faq__item-content {
  color: #fff;
}
.section-faq__item-content p:last-child {
  margin-bottom: 0;
}
.section-faq__image {
  width: 276px;
  height: 276px;
  
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.section-faq__image:hover {
  transform: rotate(360deg);
}
